@import "../fonts/icomoon/style";
@import "variables";
@import "palettes";
@import "spacing";


:root {
  --font-weight-300: #{$font-weight-300};
  --font-weight-600: #{$font-weight-600};
  --font-weight-800: #{$font-weight-800};
  --shadow: #{$shadow};
  --color-primary: var(--dark-900);
  --color-secondary: var(--gray-dark);
  --color-background: var(--gray-light);
  --color-background-secondary: var(--white);
}

[data-theme="dark"] {
  --color-primary: var(--white);
  --color-secondary: var(--white);
  --color-background:var(--blue-dark-500);
  --color-background-secondary: var(--blue-dark);
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
  font-size: $font-size-body;

  background-color: var(--color-background);
  color: var(--color-primary);
  transition: background-color 0.4s;
}

input {
  font-family: 'Nunito Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.container {
  max-width: $breakpoints-desktop;
  margin: 0 auto;
  padding: 0 4rem;
  display: block;
  @media (max-width: $breakpoints-mobile) {
    max-width: $breakpoints-mobile;
    padding: 0 1rem;
  }

  @media (min-width: $breakpoints-mobile) and (max-width: $breakpoints-tablet){
    max-width: $breakpoints-tablet;
    padding: 0 1.5rem;
  }
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-grid {
  display: grid;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.right-0 {
  right: 0;
}

.left-0 {
  left: 0;
}

.bottom-0 {
  bottom: 0;
}


.cursor-pointer {
  cursor: pointer;
}


.font-weight-300 {
  font-weight: $font-weight-300;
}

.font-weight-600 {
  font-weight: $font-weight-600;
}

.font-weight-800 {
  font-weight: $font-weight-800;
}

.text-14 {
  font-size: 14px;
}

.text-16 {
  font-size: 16px;
}

.text-18 {
  font-size: 18px;
}

.text-21 {
  font-size: 21px;
}

.border-radius-4 {
  border-radius: 4px;
}

.box-shadow {
  box-shadow: $shadow;
}

.text-left {
  text-align: left;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-ellipsis {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis " [..]";
}

