$breakpoints-mobile: 375px;
$breakpoints-tablet: 1024px;
$breakpoints-desktop: 1440px;
$width-container-desktop: 1090px;
$width-container-mobile: 310px;
$font-size-body: 16px;
$font-weight-300: 300;
$font-weight-600: 600;
$font-weight-800: 800;
$shadow:  rgba(0, 0, 0, 0.08) 0px 4px 12px;;
